@model PizzamGelsin.Models.SepetUpdateListModel

<div>
    <h4>SepetUpdateListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SepetUpdateListModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
