@model PizzamGelsin.Models.CalisanUpdateListModel

<div>
    <h4>Çalışan Detayı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozgecmis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozgecmis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unvan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unvan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimURL)
        </dd>

    </dl>
</div>
