@{ 
    var currentFooter = PizzamGelsin.Classes.DbFactory.FooterCrud.Records.FirstOrDefault();
}
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- Mirrored from demo.designshopify.com/html_fastfood/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Mar 2019 16:11:24 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://demo.designshopify.com/" />
    <meta name="theme-color" content="#7796A8">
    <meta name="description" content="" />
    <title>
        Fast Food
    </title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/Content/AnaTema/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/cs.animate.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/cs.styles.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/font-icon.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/fonts.googleapis.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/icon-font.min.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/slideshow-fade.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/social-buttons.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/spr.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/assets/stylesheets/themepunch.revolution.css" rel="stylesheet" />
    
    <link href="~/Content/AnaTema/cdn.shopify.com/s/files/1/2487/3424/t/3/assets/themepunch.revolution.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/cdn.shopify.com/s/files/1/2487/3424/t/3/assets/jquery.fancybox.scss.css" rel="stylesheet" />
    <link href="~/Content/AnaTema/cdn.shopify.com/s/files/1/2487/3424/t/3/assets/animations.css" rel="stylesheet" />
    

</head>

<body class="index-template  fastfood_1">
    <!--Header-->
    <header id="top" class="header clearfix">
        <div id="shopify-section-theme-header" class="shopify-section">
            <div data-section-id="theme-header" data-section-type="header-section">
                <section class="main-header">
                    <div class="main-header-wrapper">
                        <div class="container clearfix">
                            <div class="row">
                                <div class="main-header-inner">
                                    <div class="nav-logo">
                                        <a href="index-2.html"><img src="assets/images/logo.png" alt="" title="Fast Food" /></a>
                                        <h1 style="display:none"><a href="http://demo.designshopify.com/">Fast Food</a></h1>
                                    </div>
                                    <div class="nav-top">
                                        <div class="nav-menu">
                                            <ul class="navigation-links ">
                                                <li class="nav-item dropdown navigation">
                                                    <a href="collections.html" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
                                                        <span>Hamburger</span>
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Whopper</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Chicken Burger</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Beef Burger</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">DOUBLE WHOPPER</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item dropdown navigation">
                                                    <a href="collections.html" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
                                                        <span>Pizza</span>
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Popular pizzas</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Meats</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Chicken</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections.html">Veggie</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="collections.html">
                                                        <span>Fast food</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="collections.html">
                                                        <span>Drinks</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="super-deal.html">
                                                        <span>Combo buy</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item dropdown navigation">
                                                    <a href="contact.html" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
                                                        <span>Pages</span>
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="blog.html">Blogs</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="about-us.html">About Us</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="contact.html">Contact</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="faqs.html">FAQs</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="lookbook.html">Lookbook</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="super-deal.html">Super Deal</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="404.html">404</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="collections-all.html">All Collections</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nav-icon">
                                            <div class="m_search search-icon">
                                                <a href="#" data-toggle="modal" data-target="#lightbox-search">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                            <div class="icon_cart">
                                                <div class="m_cart-group">
                                                    <a class="cart dropdown-toggle dropdown-link" data-toggle="dropdown">
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                        <div class="num-items-in-cart">
                                                            <div class="items-cart">
                                                                <div class="num-items-in-cart">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                    <span class="cart_text">
                                                                        Cart <span class="number">(2)</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="dropdown-menu cart-info">
                                                        <div class="cart-content">
                                                            <div class="text-items"><span>2 item(s) in the shopping cart</span> <span class="cs-icon icon-close close-dropdown"></span> </div>
                                                            <div class="items control-container">
                                                                <div class="group_cart_item">
                                                                    <div class="cart-left"><a class="cart-image" href="product.html"><img src="assets/images/product_10.jpg" alt="" title=""></a></div>
                                                                    <div class="cart-right">
                                                                        <div class="cart-title"><a href="product.html">Extra Crispy - Small / Black / Black Bottom Cupcakes</a></div>
                                                                        <div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
                                                                        <div class="cart-qty">
                                                                            <span class="quantity">Qty: 1</span>
                                                                            <a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="wish-list.html">
                                                                                <span class="cs-icon icon-heart"></span>
                                                                            </a>
                                                                            <a class="cart-close" title="Remove" href="javascript:void(0);">
                                                                                <span class="cs-icon icon-bin"></span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="group_cart_item">
                                                                    <div class="cart-left"><a class="cart-image" href="product.html"><img src="assets/images/product_11.jpg" alt="" title=""></a></div>
                                                                    <div class="cart-right">
                                                                        <div class="cart-title"><a href="product.html">Juice Ice Tea</a></div>
                                                                        <div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
                                                                        <div class="cart-qty">
                                                                            <span class="quantity">Qty: 2</span>
                                                                            <a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="wish-list.html">
                                                                                <span class="cs-icon icon-heart"></span>
                                                                            </a>
                                                                            <a class="cart-close" title="Remove" href="javascript:void(0);">
                                                                                <span class="cs-icon icon-bin"></span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" data-currency-usd="$30.00" data-currency="USD">$30.00</span></div>
                                                            <div class="action"><button class="_btn" onclick="window.location='cart.html'">View All Your Cart</button><button class="_btn float-right" onclick="window.location='cart.html'">Proceed To Checkout</button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon_accounts">
                                                <div class="m_login-account">
                                                    <span class="dropdown-toggle login-icon" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </span>
                                                    <div class="m_dropdown-login dropdown-menu login-content">
                                                        <div class="clearfix">
                                                            <div class="login-register-content">
                                                                <ul class="nav nav-tabs">
                                                                    <li class="account-item-title active">
                                                                        <a href="#account-login" data-toggle="tab">
                                                                            Login
                                                                        </a>
                                                                    </li>
                                                                    <li class="account-item-title">
                                                                        <a href="#account-register" data-toggle="tab">
                                                                            Register
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content group_form">
                                                                    <div class="tab-pane active account-item-content" id="account-login">
                                                                        <form method="post" action="http://demo.designshopify.com/html_fastfood/login.html" id="customer_login" accept-charset="UTF-8">
                                                                            <div class="clearfix large_form form-item">
                                                                                <input type="email" value="" name="customer[email]" class="form-control" placeholder="Email Address *" />
                                                                            </div>
                                                                            <div class="clearfix large_form form-password form-item">
                                                                                <input type="password" value="" name="customer[password]" class="form-control password" placeholder="Password *" />
                                                                                <span class="cs-icon icon-eye"></span>
                                                                            </div>
                                                                            <div class="action_bottom">
                                                                                <button class="_btn" type="submit">Login</button>
                                                                                <a href="login-recover.html"><span class="red"></span> Forgot your password?</a>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="tab-pane account-item-content " id="account-register">
                                                                        <form method="post" action="http://demo.designshopify.com/html_fastfood/register.html" id="create_customer" accept-charset="UTF-8">
                                                                            <div class="clearfix large_form form-item">
                                                                                <input placeholder="First Name" type="text" value="" name="customer[first_name]" id="first_name" class="text" size="30" />
                                                                            </div>
                                                                            <div class="clearfix large_form form-item">
                                                                                <input placeholder="Last Name" type="text" value="" name="customer[last_name]" id="last_name" class="text" size="30" />
                                                                            </div>
                                                                            <div class="clearfix large_form form-item">
                                                                                <input placeholder="Email" type="email" value="" name="customer[email]" id="email" class="text" size="30" />
                                                                            </div>
                                                                            <div class="clearfix large_form form-password form-item">
                                                                                <input placeholder="Password" type="password" value="" name="customer[password]" id="password" class="password text" size="30" />
                                                                                <span class="cs-icon icon-eye"></span>
                                                                            </div>
                                                                            <div class="action_bottom">
                                                                                <button class="_btn" type="submit">Create</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul class="wish-compare-content">
                                                                <li class="link-item"><a href="wish-list.html">My Wishlist</a></li>
                                                                <li class="link-item"><a href="compare.html">My Compare</a></li>
                                                            </ul>
                                                            <ul class="currencies currencies-content">
                                                                <li class="currency-USD active">
                                                                    <a href="javascript:;">USD</a>
                                                                    <input type="hidden" value="USD" />
                                                                </li>
                                                                <li class="currency-GBP">
                                                                    <a href="javascript:;">GBP</a>
                                                                    <input type="hidden" value="GBP" />
                                                                </li>
                                                                <li class="currency-EUR">
                                                                    <a href="javascript:;">EUR</a>
                                                                    <input type="hidden" value="EUR" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navMobile-navigation">
                                        <div class="navMobile-logo">
                                            <a href="index-2.html"><img class="header-logo-image" src="assets/images/logo.png" alt="" title="Fast Food" /></a>
                                        </div>
                                        <div class="group_mobile_right">
                                            <div class="nav-icon">
                                                <div class="m_search search-tablet-icon">
                                                    <span class="dropdownMobile-toggle search-dropdown">
                                                        <span class="icon-dropdown cs-icon icon-search" data-class="cs-icon icon-search"></span>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </span>
                                                    <div class="m_dropdown-search dropdown-menu search-content">
                                                        <form class="search" action="http://demo.designshopify.com/html_fastfood/search.html">
                                                            <input type="hidden" name="type" value="product" />
                                                            <input type="text" name="q" class="search_box" placeholder="search our store" value="" />
                                                            <span class="search-clear cs-icon icon-close"></span>
                                                            <button class="search-submit" type="submit">
                                                                <span class="cs-icon icon-search"></span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="icon_cart">
                                                    <div class="m_cart-group">
                                                        <a class="cart dropdownMobile-toggle dropdown-link">
                                                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                            <div class="num-items-in-cart">
                                                                <div class="items-cart">
                                                                    <div class="num-items-in-cart">
                                                                        <span class="cs-icon icon-bag"></span>
                                                                        <span class="cart_text">
                                                                            <span class="number">2</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="dropdown-menu cart-info">
                                                            <div class="cart-content">
                                                                <div class="text-items"><span>2 item(s) in the shopping cart</span> <span class="cs-icon icon-close close-dropdown"></span> </div>
                                                                <div class="items control-container">
                                                                    <div class="group_cart_item">
                                                                        <div class="cart-left"><a class="cart-image" href="product.html"><img src="assets/images/product_10.jpg" alt="" title=""></a></div>
                                                                        <div class="cart-right">
                                                                            <div class="cart-title"><a href="product.html">Extra Crispy - Small / Black / Black Bottom Cupcakes</a></div>
                                                                            <div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
                                                                            <div class="cart-qty">
                                                                                <span class="quantity">Qty: 1</span>
                                                                                <a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="wish-list.html">
                                                                                    <span class="cs-icon icon-heart"></span>
                                                                                </a>
                                                                                <a class="cart-close" title="Remove" href="javascript:void(0);">
                                                                                    <span class="cs-icon icon-bin"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="group_cart_item">
                                                                        <div class="cart-left"><a class="cart-image" href="product.html"><img src="assets/images/product_11.jpg" alt="" title=""></a></div>
                                                                        <div class="cart-right">
                                                                            <div class="cart-title"><a href="product.html">Juice Ice Tea</a></div>
                                                                            <div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
                                                                            <div class="cart-qty">
                                                                                <span class="quantity">Qty: 2</span>
                                                                                <a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="wish-list.html">
                                                                                    <span class="cs-icon icon-heart"></span>
                                                                                </a>
                                                                                <a class="cart-close" title="Remove" href="javascript:void(0);">
                                                                                    <span class="cs-icon icon-bin"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" data-currency-usd="$30.00" data-currency="USD">$30.00</span></div>
                                                                <div class="action"><button class="_btn" onclick="window.location='cart.html'">View All Your Cart</button><button class="_btn float-right" onclick="window.location='cart.html'">Proceed To Checkout</button></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="icon_accounts">
                                                    <div class="m_login-account">
                                                        <span class="dropdownMobile-toggle login-icon">
                                                            <i class="icon-dropdown cs-icon icon-ellipsis" data-class="cs-icon icon-ellipsis" aria-hidden="true"></i>
                                                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                        </span>
                                                        <div class="m_dropdown-login dropdown-menu login-content">
                                                            <div class="clearfix">
                                                                <div class="login-register-content">
                                                                    <ul class="nav nav-tabs">
                                                                        <li class="account-item-title active">
                                                                            <a href="#account-login-mobile" data-toggle="tab">
                                                                                Login
                                                                            </a>
                                                                        </li>
                                                                        <li class="account-item-title">
                                                                            <a href="#account-register-mobile" data-toggle="tab">
                                                                                Register
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content group_form">
                                                                        <div class="tab-pane active account-item-content" id="account-login-mobile">
                                                                            <form method="post" action="http://demo.designshopify.com/html_fastfood/login.html" id="customer_login_mobile" accept-charset="UTF-8">
                                                                                <div class="clearfix large_form form-item">
                                                                                    <input type="email" value="" name="customer[email]" class="form-control" placeholder="Email Address *" />
                                                                                </div>
                                                                                <div class="clearfix large_form form-password form-item">
                                                                                    <input type="password" value="" name="customer[password]" class="form-control password" placeholder="Password *" />
                                                                                    <span class="cs-icon icon-eye"></span>
                                                                                </div>
                                                                                <div class="action_bottom">
                                                                                    <button class="_btn" type="submit">Login</button>
                                                                                    <a href="login-recover.html"><span class="red"></span> Forgot your password?</a>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="tab-pane account-item-content " id="account-register-mobile">
                                                                            <form method="post" action="http://demo.designshopify.com/html_fastfood/register.html" id="create_customer_mobile" accept-charset="UTF-8">
                                                                                <div class="clearfix large_form form-item">
                                                                                    <input placeholder="First Name" type="text" value="" name="customer[first_name]" class="text" size="30" />
                                                                                </div>
                                                                                <div class="clearfix large_form form-item">
                                                                                    <input placeholder="Last Name" type="text" value="" name="customer[last_name]" class="text" size="30" />
                                                                                </div>
                                                                                <div class="clearfix large_form form-item">
                                                                                    <input placeholder="Email" type="email" value="" name="customer[email]" class="text" size="30" />
                                                                                </div>
                                                                                <div class="clearfix large_form form-password form-item">
                                                                                    <input placeholder="Password" type="password" value="" name="customer[password]" class="password text" size="30" />
                                                                                    <span class="cs-icon icon-eye"></span>
                                                                                </div>
                                                                                <div class="action_bottom">
                                                                                    <button class="_btn" type="submit">Create</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <ul class="wish-compare-content">
                                                                    <li class="link-item"><a href="wish-list.html">My Wishlist</a></li>
                                                                    <li class="link-item"><a href="compare.html">My Compare</a></li>
                                                                </ul>
                                                                <ul class="currencies currencies-content">
                                                                    <li class="currency-USD active">
                                                                        <a href="javascript:;">USD</a>
                                                                        <input type="hidden" value="USD" />
                                                                    </li>
                                                                    <li class="currency-GBP">
                                                                        <a href="javascript:;">GBP</a>
                                                                        <input type="hidden" value="GBP" />
                                                                    </li>
                                                                    <li class="currency-EUR">
                                                                        <a href="javascript:;">EUR</a>
                                                                        <input type="hidden" value="EUR" />
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navMobile-menu">
                                                <div class="group_navbtn">
                                                    <a href="javascript:void(0)" class="dropdown-toggle-navigation">
                                                        <span class="cs-icon icon-menu"></span>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <div class="navigation_dropdown_scroll dropdown-menu">
                                                        <ul class="navigation_links_mobile">
                                                            <li class="nav-item navigation navigation_mobile">
                                                                <a href="collections.html" class="menu-mobile-link">
                                                                    Hamburger
                                                                </a>
                                                                <a href="javascript:void(0)" class="arrow_sub arrow">
                                                                    <i class="arrow-plus"></i>
                                                                </a>
                                                                <ul class="menu-mobile-container" style="display: none;">
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Whopper</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Chicken Burger</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Beef Burger</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">DOUBLE WHOPPER</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="nav-item navigation navigation_mobile">
                                                                <a href="collections.html" class="menu-mobile-link">
                                                                    Pizza
                                                                </a>
                                                                <a href="javascript:void(0)" class="arrow_sub arrow">
                                                                    <i class="arrow-plus"></i>
                                                                </a>
                                                                <ul class="menu-mobile-container" style="display: none;">
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Popular pizzas</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Meats</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Chicken</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections.html">Veggie</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="collections.html">
                                                                    Fast food
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="collections.html">
                                                                    Drinks
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="super-deal.html">
                                                                    Combo buy
                                                                </a>
                                                            </li>
                                                            <li class="nav-item navigation navigation_mobile">
                                                                <a href="contact.html" class="menu-mobile-link">
                                                                    Pages
                                                                </a>
                                                                <a href="javascript:void(0)" class="arrow_sub arrow">
                                                                    <i class="arrow-plus"></i>
                                                                </a>
                                                                <ul class="menu-mobile-container" style="display: none;">
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="blog.html">Blogs</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="about-us.html">About Us</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="contact.html">Contact</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="faqs.html">FAQs</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="lookbook.html">Lookbook</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="super-deal.html">Super Deal</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="404.html">404</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="collections-all.html">All Collections</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                function addaffix(scr) {
                    if ($(window).innerWidth() >= 992) {
                        if (scr > 153) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('fadeInDown animated');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('fadeInDown animated');
                            }
                        }
                    } else if ($(window).innerWidth() < 992 && $(window).innerWidth() > 767) {
                        if (scr > 95) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('fadeInDown animated');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('fadeInDown animated');
                            }
                        }
                    } else {
                        if (scr > 45) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('');
                            }
                        }
                    }
                }
                $(window).scroll(function () {
                    "use strict";

                    var scrollTop = $(this).scrollTop();
                    addaffix(scrollTop);
                });
                $(window).resize(function () {
                    "use strict";

                    var scrollTop = $(this).scrollTop();
                    addaffix(scrollTop);
                });
            </script>
        </div>
    </header>
    <div class="fix-sticky"></div>
    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div id="shopify-section-theme-footer" class="shopify-section">
            <section class="footer-information-block clearfix" style="background-image:  url(assets/images/bg_footer.png);">
                <div class="container">
                    <div class="row">
                        <div class="footer-information-inner">
                            <div class="footer-information-content">
                                <div class="information-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="100">
                                    <div class="about-content">
                                        <div class="logo-footer">
                                            <img src="assets/images/logo_footer.png" alt="" />
                                        </div>
                                        <div class="about-caption">
                                            @currentFooter.Aciklama
                                            <div class="clearfix" style="margin-bottom: 5px; "></div>

                                        </div>
                                        <div class="about-contact">
                                            <div class="item">
                                                <span class="cs-icon icon-marker"></span><address>@currentFooter.Adres</address>
                                            </div>
                                            <div class="item">
                                                <span class="cs-icon icon-phone"></span><a href="tel:(084)0123456789">@currentFooter.Telefon</a>
                                            </div>
                                            <div class="item">
                                                <span class="cs-icon icon-mail"></span><a href="mailto:@currentFooter.EMail">@currentFooter.EMail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-group col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
                                    <h5 class="footer-title">Recent Post</h5>
                                    <div class="blog-content">
                                        <div class="blogs-item">
                                            <div class="blogs-left">
                                                <a class="blogs-img" href="article.html">
                                                    <img src="assets/images/blog-01.jpg" alt="The art of food" />
                                                </a>
                                            </div>
                                            <div class="blogs-right">
                                                <a href="article.html" class="blogs-title clearfix">The art of food</a>
                                                <span class="date">Oct 26th</span>
                                            </div>
                                        </div>
                                        <div class="blogs-item">
                                            <div class="blogs-left">
                                                <a class="blogs-img" href="article.html">
                                                    <img src="assets/images/blog-04.jpg" alt="Sports luxe sandal center part pastel loafer leather skirt sneaker" />
                                                </a>
                                            </div>
                                            <div class="blogs-right">
                                                <a href="article.html" class="blogs-title clearfix">Sports luxe sandal center part pastel loafer leather skirt sneaker</a>
                                                <span class="date">Oct 25th</span>
                                            </div>
                                        </div>
                                        <div class="blogs-item">
                                            <div class="blogs-left">
                                                <a class="blogs-img" href="article.html">
                                                    <img src="assets/images/blog-03.jpg" alt="Hermes Givenchy skort chambray Cara D skirt cable knit" />
                                                </a>
                                            </div>
                                            <div class="blogs-right">
                                                <a href="article.html" class="blogs-title clearfix">Hermes Givenchy skort chambray Cara D skirt cable knit</a>
                                                <span class="date">Oct 25th</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="social-payment-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="300">
                                    <h5 class="footer-title"> Follow Us</h5>
                                    <div class="social-content">
                                        <div class="social-caption">
                                            <a href="@currentFooter.FacebookAdres" title="Fast Food on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
                                            <a href="@currentFooter.TwitterAdres" title="Fast Food on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
                                            <a href="@currentFooter.GooglePlusAdres" title="Fast Food on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
                                            <a href="@currentFooter.PinterestAdres" title="Fast Food on Pinterest" class="icon-social pinterest"><i class="fa fa-pinterest"></i></a>
                                            <a href="@currentFooter.InstagramAdres" title="Fast Food on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
                                            <a href="@currentFooter.YoutubeAdres" title="Fast Food on Youtube" class="icon-social youtube"><i class="fa fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="payment-content ">
                                        <h5 class="footer-title">Payment Methods</h5>
                                        <div class="payment-caption">
                                            <span class="icon-cc icon-cc-discover" title="Discover"></span>
                                            <span class="icon-cc icon-cc-american" title="Amex"></span>
                                            <span class="icon-cc icon-cc-western" title="Western Union"></span>
                                            <span class="icon-cc icon-cc-paypal" title="PayPal"></span>
                                            <span class="icon-cc icon-cc-moneybookers" title="MoneyBookers"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="copy-right clearfix">
                <div class="copy-right-wrapper">
                    <div class="copy-right-inner">
                        <div class="footer_links">
                            <ul>
                                <li><a href="index-2.html" title="Home">Home</a></li>
                                <li><a href="collections.html" title="Pizza">Pizza</a></li>
                                <li><a href="collections.html" title="Hamburger">Hamburger</a></li>
                                <li><a href="collections.html" title="Fast food">Fast food</a></li>
                                <li><a href="collections.html" title="Drinks">Drinks</a></li>
                                <li><a href="collections.html" title="Combo buy">Combo buy</a></li>
                                <li><a href="contact.html" title="Contact">Contact</a></li>
                                <li><a href="wish-list.html" title="Wishlist">Wishlist</a></li>
                                <li><a href="account.html" title="My account">My account</a></li>
                                <li><a href="login.html" title="Login">Login</a></li>
                            </ul>
                        </div>
                        <div class="footer_copyright">Copyright &copy; 2017 <a href="index-2.html" title="">Fast Food</a>. All Rights Reserved</div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <!-- Modal QuickView -->
    <div id="quick-shop-modal" class="modal quick-shop" role="dialog" aria-hidden="true" tabindex="-1" data-width="800" style="display: none;">
        <div class="modal-dialog fadeIn animated">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="close lnr lnr-cross btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="modal" aria-hidden="true" data-original-title="Close"></i>
                </div>
                <div class="modal-body">
                    <div class="quick-shop-modal-bg" style="display: none;"></div>
                    <div class="clearfix">
                        <div class="col-md-6 product-image">
                            <div id="quick-shop-image" class="product-image-wrapper">
                                <div id="featuted-image" class="main-image featured">
                                    <img src="assets/images/product_10.jpg" alt="image product">
                                </div>
                                <div id="gallery_main_qs" class="product-image-thumb gallery-images-layout">
                                    <div class="gallery-images-inner">
                                        <div class="show-image-load show-load-quick" style="display: none;">
                                            <div class="show-image-load-inner"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
                                        </div>
                                        <div class="qs-vertical-slider vertical-image-content">
                                            <div class="image-vertical image-thumb active">
                                                <a class="cloud-zoom-gallery" href="assets/images/product_10.jpg" data-image="./assets/images/product_10.jpg" data-zoom-image="assets/images/product_10.jpg">
                                                    <img src="assets/images/product_10.jpg" alt="image product">
                                                </a>
                                            </div>
                                            <div class="image-vertical image-thumb">
                                                <a class="cloud-zoom-gallery" href="assets/images/product_11.jpg" data-image="./assets/images/product_11.jpg" data-zoom-image="assets/images/product_11.jpg">
                                                    <img src="assets/images/product_11.jpg" alt="image product">
                                                </a>
                                            </div>
                                            <div class="image-vertical image-thumb">
                                                <a class="cloud-zoom-gallery" href="assets/images/product_12.jpg" data-image="./assets/images/product_12.jpg" data-zoom-image="assets/images/product_12.jpg">
                                                    <img src="assets/images/product_12.jpg" alt="image product">
                                                </a>
                                            </div>
                                            <div class="image-vertical image-thumb">
                                                <a class="cloud-zoom-gallery" href="assets/images/product_13.jpg" data-image="./assets/images/product_13.jpg" data-zoom-image="assets/images/product_13.jpg">
                                                    <img src="assets/images/product_13.jpg" alt="image product">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 product-information">
                            <div id="quick-shop-container">
                                <h3 id="quick-shop-title"><a href="product.html">Extra Crispy</a></h3>
                                <div class="rating-star"><span class="shopify-product-reviews-badge" data-id="6537875078"></span></div>
                                <div class="quick-shop-management">
                                    <span class="management-title">Availability:</span>
                                    <div class="management-description">In-Stock</div>
                                </div>
                                <div class="description">
                                    <div id="quick-shop-description" class="text-left">
                                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulp...</p>
                                    </div>
                                </div>
                                <form action="http://demo.designshopify.com/html_fastfood/cart.html" method="post" class="variants" id="quick-shop-product-actions" enctype="multipart/form-data">
                                    <div id="quick-shop-variants-container" class="variants-wrapper">
                                        <div class="selector-wrapper variant-wrapper-size">
                                            <label for="quick-shop-variants-213223800871-option-0">Size</label>
                                            <select class="single-option-selector" data-option="option1" id="quick-shop-variants-213223800871-option-0"><option value="Small">Small</option><option value="Medium">Medium</option><option value="Large">Large</option></select>
                                        </div>
                                        <div class="selector-wrapper variant-wrapper-topping">
                                            <label for="quick-shop-variants-213223800871-option-2">Topping</label>
                                            <select class="single-option-selector" data-option="option3" id="quick-shop-variants-213223800871-option-2"><option value="Black Bottom Cupcakes">Black Bottom Cupcakes</option><option value="Blue-Ribbon Butter Cake">Blue-Ribbon Butter Cake</option><option value="Cheesy Mcplain">Cheesy Mcplain</option><option value="Chunky Apple Cake">Chunky Apple Cake</option></select>
                                        </div>
                                    </div>
                                    <div class="swatch" id="show_swatch">
                                        <div id="show_swatch_detail_1" class="swatch_quick color clearfix" data-option-index="1">
                                            <label>Color</label>
                                            <div id="element-color-Black" data-value="Black" class="swatch-element color Black available active">
                                                <div class="tooltip">Black</div>
                                                <input id="swatch-quick-1-Black" type="radio" name="option-1" value="Black">
                                                <label id="label-color-Black" for="swatch-quick-1-Black" style="background-color: Black; border-color: Black; background-image: url(assets/images/black.png)"><img class="crossed-out" src="assets/images/soldout.png" alt="image product"></label>
                                            </div>
                                            <div id="element-color-Red" data-value="Red" class="swatch-element color Red available ">
                                                <div class="tooltip">Red</div>
                                                <input id="swatch-quick-1-Red" type="radio" name="option-1" value="Red">
                                                <label id="label-color-Red" for="swatch-quick-1-Red" style="background-color: Red; border-color: Red; background-image: url(assets/images/red.png)"><img class="crossed-out" src="assets/images/soldout.png" alt="image product"></label>
                                            </div>
                                            <div id="element-color-Blue" data-value="Blue" class="swatch-element color Blue available ">
                                                <div class="tooltip">Blue</div>
                                                <input id="swatch-quick-1-Blue" type="radio" name="option-1" value="Blue">
                                                <label id="label-color-Blue" for="swatch-quick-1-Blue" style="background-color: Blue; border-color: Blue; background-image: url(assets/images/blue.png)"><img class="crossed-out" src="assets/images/soldout.png" alt="image product"></label>
                                            </div>
                                            <div id="element-color-yellow" data-value="yellow" class="swatch-element color yellow available ">
                                                <div class="tooltip">yellow</div>
                                                <input id="swatch-quick-1-yellow" type="radio" name="option-1" value="yellow">
                                                <label id="label-color-yellow" for="swatch-quick-1-yellow" style="background-color: yellow; border-color: yellow; background-image: url(assets/images/yellow.png)"><img class="crossed-out" src="assets/images/soldout.png" alt="image product"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="quick-shop-price-container" class="product-price">
                                        <span class="price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></span>
                                    </div>
                                    <div class="others-bottom">
                                        <div class="purchase-section">
                                            <div class="quantity-wrapper clearfix">
                                                <div class="wrapper">
                                                    <input id="quantity" type="text" name="quantity" value="1" maxlength="5" size="5" class="item-quantity">
                                                    <div class="qty-btn-vertical">
                                                        <span class="qty-down fa fa-chevron-down" title="Decrease" data-src="#quantity"></span>
                                                        <span class="qty-up fa fa-chevron-up" title="Increase" data-src="#quantity"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="purchase">
                                                <button id="quick-shop-add" onclick="change_qs_quantity('-qs');" class="_btn add-to-cart" type="submit" name="add" style="opacity: 1;"><span class="cs-icon icon-cart"></span>Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="comWish-content">
                                            <a title="Add To Compare" class="_compareWishlist compare compare-extra-crispy-1" data-comparehandle="extra-crispy-1">
                                                <span class="icon-small icon-small-retweet"></span>
                                                <span class="_compareWishlist-text">Compare</span>
                                            </a>
                                            <a title="Add To Wishlist" class="wishlist wishlist-extra-crispy-1" data-wishlisthandle="extra-crispy-1">
                                                <span class="icon-small icon-small-heart"></span>
                                                <span class="_compareWishlist-text">Wishlist</span>
                                            </a>
                                            <a title="Send email" class="send-email">
                                                <span class="icon-small icon-small-email"></span>
                                                <span class="_compareWishlist-text">Send email</span>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                                <div class="supports-fontface">
                                    <span class="social-title">Share this</span>
                                    <div class="quick-shop-social">
                                        <a target="_blank" href="#" class="share-facebook">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                        <a target="_blank" href="#" class="share-twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                        <a target="_blank" href="#" class="share-pinterest">
                                            <span class="fa fa-pinterest"></span>
                                        </a>
                                        <a target="_blank" href="#" class="share-google">
                                            <!-- Cannot get Google+ share count with JS yet -->
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal WishList -->
    <div class="wishlist-model">
        <div class="modal fade" id="modalwishlist1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog white-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="cs-icon icon-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-note wishlist-note">
                            Added to <a href="wish-list.html">Wishlist</a>
                        </div>
                        <div class="modal-body-inner">
                            <div class="modal-left wishlist-left">
                                <div class="modal-product wishlist-product">
                                    <div class="product-left">
                                        <div class="wishlist-image modal-image wishlist-image-213223800871">
                                            <img src="assets/images/product_10.jpg" alt="Extra Crispy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-right wishlist-right">
                                <div class="wishlist-cart">
                                    <form action="http://demo.designshopify.com/html_fastfood/cart.html" method="post" class="variants-form variants" enctype="multipart/form-data">
                                        <div class="form-left">
                                            <div class="product-right">
                                                <div class="name wishlist-name"><a href="product.html">Extra Crispy</a></div>
                                                <div class="wishlist-price wishlist-price-213223800871">
                                                    <span class="price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></span>
                                                </div>
                                            </div>
                                            <div class="quantity-content">
                                                <label>QTY</label>
                                                <input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1">
                                            </div>
                                        </div>
                                        <div class="form-right">
                                            <div class="others-bottom">
                                                <a class="_btn btn-quick-shop" href="wish-list.html">View Wishlist</a>
                                                <a href="cart.html" class="_btn add-to-cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Compare -->
    <div class="wishlist-model">
        <div class="modal fade" id="modalCompare" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog white-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="cs-icon icon-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-note wishlist-note">
                            Added to <a href="compare.html">Compare</a>
                        </div>
                        <div class="modal-body-inner">
                            <div class="modal-left wishlist-left">
                                <div class="modal-product wishlist-product">
                                    <div class="product-left">
                                        <div class="wishlist-image modal-image wishlist-image-213223800871">
                                            <img src="assets/images/product_10.jpg" alt="Extra Crispy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-right wishlist-right">
                                <div class="wishlist-cart">
                                    <form action="http://demo.designshopify.com/html_fastfood/cart.html" method="post" class="variants-form variants" enctype="multipart/form-data">
                                        <div class="form-left">
                                            <div class="product-right">
                                                <div class="name wishlist-name"><a href="product.html">Extra Crispy</a></div>
                                                <div class="wishlist-price wishlist-price-213223800871">
                                                    <span class="price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></span>
                                                </div>
                                            </div>
                                            <div class="quantity-content">
                                                <label>QTY</label>
                                                <input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1">
                                            </div>
                                        </div>
                                        <div class="form-right">
                                            <div class="others-bottom">
                                                <a class="_btn btn-quick-shop" href="wish-list.html">View Compare</a>
                                                <a href="cart.html" class="_btn add-to-cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Search-->
    <div class="modal fade" id="lightbox-search" tabindex="-1" role="dialog" aria-labelledby="lightbox-search" a-hidden="true" style="display: none;">
        <div class="modal-dialog animated" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="cs-icon icon-close"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Search something</h4>
                </div>
                <div class="modal-body">
                    <div id="search-info">
                        <form class="search" action="http://demo.designshopify.com/html_fastfood/search.html" style="position: relative;">
                            <input type="hidden" name="type" value="product">
                            <input type="text" name="q" class="search_box" placeholder="search our store" value="" autocomplete="off">
                            <span class="search-clear cs-icon icon-close" style="display: none;"></span>
                            <button class="search-submit" type="submit">
                                <span class="cs-icon icon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Float right icon -->
    <div class="float-right-icon">
        <ul>
            <li>
                <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
                    <i class="fa fa-angle-up"></i>
                </div>
            </li>
        </ul>
    </div>

    <script src="~/Content/AnaTema/assets/javascripts/jquery.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/classie.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/application-appear.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/cs.script.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/jquery.currencies.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/jquery.zoom.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/linkOptionSelectors.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/owl.carousel.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/scripts.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/social-buttons.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/bootstrap.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/jquery.touchSwipe.min.js"></script>
    <script src="~/Content/AnaTema/assets/javascripts/jquery.fancybox.js"></script>
   
</body>
