@model PizzamGelsin.Models.FooterUpdateListModel

<div>
    <h4>FooterUpdateListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoutubeAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoutubeAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GooglePlusAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GooglePlusAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinterestAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinterestAdres)
        </dd>

    </dl>
</div>

