@model PizzamGelsin.Models.IcecekUpdateListModel

<div>
    <h4>IcecekUpdateListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlinmaAdedi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlinmaAdedi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yildiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yildiz)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
