@model PizzamGelsin.Models.HakkimizdaUpdateLisModel

<div>
    <h4>HakkimizdaUpdateLisModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>

    </dl>
</div>

