@model PizzamGelsin.Models.AdresUpdateListModel

<div>
    <h4>AdresUpdateListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdresIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdresUpdateListModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
