@model PizzamGelsin.Models.HamurTipiUpdateListModel

<div>
    <h4>Hamur Tipi Detayı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HamurAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HamurAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EkFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EkFiyat)
        </dd>

    </dl>
</div>

